
{% trans_default_domain 'FOSUserBundle' %}
<style>
.wrapper{
margin-top: 250px;
border-radius: 5px;
padding: 15px 50px 25px;
border-top: 6px solid #CE2347;

font-weight: bold;
font-family: "arial black",;
/*Animation fenetre*/
transition: all .3s ease-in;
}
.wrapper:hover{
/*Animation formulaire*/
transition: all .9s ease-in-out;

border-top: 6px solid dodgerblue;
}
.wrapper h3{
font-weight: bold;
font-family: "arial black",;
}
html body form .btn-primary{
background-color: crimson;
border-color: white;
}
body form label{
margin-bottom: 10px;
}
html body form .btn-primary:hover{
/*background-color:darkslategray;*/
background-color:darkcyan;
}
.no-compte{
color: white;
text-decoration: none;
padding-top: 15px;
}
.no-compte>a{
text-decoration: none;
color: white;
}
.no-compte a:hover{
text-decoration:underline;
color: white;
border-bottom: 1px solid #FF0000;
}
.btn-primary a:hover{
text-decoration: none;
color: white;
}
.btn-primary a{
text-decoration: none;
color: white;
}
.oblig{
font-size: 10px;
}

.btn{
  margin-top: 50px;
}



</style>
    <div class="container">
      <div class="row">
        <div class="wrapper text-center col-md-offset-3 col-md-6">
          <h3>Modification du profil </h3>

        <form name="fos_user_profile_form" method="post" action="/profile/edit" class="fos_user_profile_edit">
        <div id="fos_user_profile_form"><div class="col-md-12"><label for="fos_user_profile_form_username" class="required">Nom d'utilisateur</label><input class="form-control" type="text" id="fos_user_profile_form_username" name="fos_user_profile_form[username]" required="required" maxlength="255" pattern=".{2,}" value="sweezy974@live.fr"></div><div class="col-md-12"><label for="fos_user_profile_form_email" class="required">Adresse e-mail</label><input class="form-control" type="email" id="fos_user_profile_form_email" name="fos_user_profile_form[email]" required="required" value="sweezy974@live.fr"></div><div class=" col-md-12"><label for="fos_user_profile_form_current_password" class="required">Mot de passe actuel</label><input class="form-control" type="password" id="fos_user_profile_form_current_password" name="fos_user_profile_form[current_password]" required="required"></div><input type="hidden" id="fos_user_profile_form__token" name="fos_user_profile_form[_token]" value="w4hKcLu8WTMZRxhPqpFDjaBvIPAO-6LPVY0O58r8dLQ"></div>

          <input class="btn btn-primary" type="submit" value="Mettre à jour">

        </form></div>
  </div>
